@import '../../styles.constants';

.dashboard-page {
  &__greeting {
    font-size: 1rem;
    font-weight: 400;
    margin: 15px 0;
  }

  &__btn-create {
    margin: 15px 0;
    padding: 0;
  }

  &__card {
    margin-top: 40px;
  }
}
