<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Ch-test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.env.publicPath %>icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.env.publicPath %>icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.env.publicPath %>icons/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no"/>
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.env.publicPath %>icons/favicon.ico">
</head>
<body>
<div id="root">
  <style>
    html, body {
      margin: 0;
    }
  </style>
  <div class="empty-container">
    <div class="empty-pace"></div>
  </div>
  <div class="fonts">
    <i class="fonts_Kizo"></i>
    <i class="fonts_IBM-Plex-Sans"></i>
    <i class="fonts_Oswald"></i>
  </div>
</div>
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.env.publicPath %>static/js/config.js"></script>
</body>
</html>
