@import '../../styles.constants';

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 19px;
}

#root {
  margin-top: 40px;
  margin-bottom: 30px;
}

th {
  font-size: 14px;
  border-top: none !important;
}

td {
  @extend %hint-text1;
}
