@import '../../styles.constants';

.app-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  &__navbar {
    @extend %basic-text;

    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: $color-grey-light-blue;
    padding: 0 15px;

    &-left {
      align-items: center;
      display: flex;
    }

    &-right {
      align-items: center;
      color: $color-black;
      display: flex;
    }
  }
}
