@import '../../styles.constants';

.app-language-switch {
  & a {
    color: $color-black;
    display: inline-block;
    padding: 2px 8px;
  }
  .dropdown-menu {
    @extend %basic-text;
  }

  & > div {
    min-width: auto !important;
  }
}
