@import '../../styles.constants';

.app-footer {
  @extend %small-text;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background-color: $color-grey-light-blue;

  a {
    color: $color-black;
  }
}