// mixins
$mobile-max-width: 767px;
$small-max-width: 1023px;
$medium-max-width: 1300px;

@mixin mobile() {
  @media screen and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin small() {
  @media screen and (max-width: $small-max-width) {
    @content;
  }
}

@mixin medium() {
  @media screen and (max-width: $medium-max-width) {
    @content;
  }
}

@mixin large() {
  @media screen and (min-width: ($medium-max-width + 1)) {
    @content;
  }
}

// typography
$primary-font: 'IBM Plex Sans', sans-serif;
$secondary-font: 'Oswald', sans-serif;
$font-family-kizo: 'Kizo', sans-serif;

%h1, %h2, %h3, %h4, %h5,
%basic-text,
%small-text,
%hint-text1,
%hint-text2,
%hint-text3 {
  font-family: $primary-font;
  font-weight: 300;
}

%h1 {
  font-family: $secondary-font;
  font-size: 53px;
  text-transform: uppercase;
}

%h2 {
  font-family: $secondary-font;
  font-size: 30px;
}

%h3 {
  font-family: $secondary-font;
  font-size: 24px;
}

%h4 {
  font-family: $secondary-font;
  font-size: 20px;
}

%h5 {
  font-family: $secondary-font;
  font-size: 18px;
}

%basic-text {
  font-family: $primary-font;
  font-size: 16px;
}

%small-text {
  font-size: 14px;
}

%hint-text1 {
  font-size: 12px;
}

%hint-text2 {
  font-size: 11px;
}

%hint-text3 {
  font-size: 10px;
}

// colors
$color-white: #ffffff;
$color-grey-light-blue: #f9f9fb;
$color-grey-magnolia: #d5d5d5;
$color-light-grey: #eaeaed;
$color-grey: #ccd2d4;
$color-grey-blue: #bdc7cb;
$color-silver: #aab4b8;
$color-grey-dark: #7d8a8f;
$color-grey-darker: #5E6674;
$color-black-light: #333840;
$color-black: #000000;
$color-peach: #b1a890;
$color-red: #9d162e;
$color-red-dark: #85192f;
$color-green: #18b703;
$color-blue: #337ab7;


@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
